/* Reset CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif; 
  /*font chữ đẹp hơn*/
}
 /* 1. vị trí
 2, kích thước height with
 3, màu sắcc
 4, kiểu dáng(kiểu chữ, hình tròn ,đứnng ngang..)*/
/* 1, từ ngoài vào trong
 2, từ trên xuống dưới
 3, tổng quan đến chi tiết
*/
#app {


} 

#header {
height: 100px;
background-color: #FFFFCC; 
}

#nav,.subnav {
 list-style-type: none;
}
#nav>li {
  display: inline-block; /* inline trên 1 hàng*/
} 

#nav li {
position: relative;
}

#nav>li>a {
  color: #000 ;
  text-transform:uppercase ; /*chuyển chữ hoa */
}

#nav>li>a {

 text-decoration: none;       /* Xóa gạch chân chữ*/
 line-height:100px;                 /* căn giữu bằng  cách cho bằng height header   */
 padding : 0 30px;             /*căn trái phải giữa các chữ*/
 font-weight: bold;                     
       
 /*di chuột hiện màu*/
}
#nav li:hover .subnav {
  display: block;
}
#nav li:hover a {

}
#nav>li:hover>a {
    color: #2a6496;
    background-color: #FFCCFF;
    display: inline-block; /* backgrounfd màu cho full thẻ a*/
}
#nav .subnav {
 display: none; /* ẩn menu cấp 2*/
 position: absolute;
 top: 100%;
 
 background-color: #FFFFFF;
 box-shadow: 0 0 10px rgba(0, 0,0, 0.3);  /*bóng đổ mờ*/
}
#nav .subnav a {
 color: black;
padding: 0  15px;
line-height: 40px;
width: 150px;
text-decoration: none;  
}

#nav .subnav li:hover a {
  color: #2a6496;
  background-color: #FFCCFF;
  display: block;
  
}

#slider {

}

#content {


}

#footer {


}